
.bgimage {
  background-image: url('../images/infoboard_bg.jpg');
  background-position: center center;
  background-size: cover;
  height: 250px;
}

.navbar-default {
  border-none;
}

.active {
  background-color: "black";
}

.icon {
  max-width: 50px;
  margin: 25px 0 0 100px;
}
.nickname {
  margin: 25px 0 0 107px;
}


.navbar {
  background-color: transparent;
  border: none;
}


.listimg {
  max-width: 250px;
  margin: auto;
}

.services section {
  text-align: center;
}


.media img {
  width: 100px;
}

@media (max-width: 767px)  {
	.img-responsive {
		max-width: 50%;
		min-width: 250px;
	}
}

.form-inline {
	text-align:  center;
}

/* 
  header {
  background: url('../images/headerimage.jpg') center center no-repeat;
  height: 600px;
  }

  .navbar-default {
  width : 100%;
  z-index: 100;
}

*/